{% extends "layout.html" %}

{% block content %}
<h1>Set Your Preferences</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    
    <div>
        {{ form.focus_time.label }}
        {{ form.focus_time() }}
        {% for error in form.focus_time.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div>
        {{ form.break_time.label }}
        {{ form.break_time() }}
        {% for error in form.break_time.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div>
        {{ form.notifications_enabled.label }}
        {{ form.notifications_enabled() }}
    </div>
    
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
